################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/TenXamarinD1/.vs/TenXamarinD1/v15
